<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order #{{ id }}</title>

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/5.3/examples/sidebars/"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@docsearch/css@3"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap"
      rel="stylesheet"
    />

    <!-- Include jsPDF from CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.13/jspdf.plugin.autotable.min.js"></script>
    <style>
      .poppins-regular {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
      }

      body {
        padding: 40px;
        background-color: #f8f9fa;
        overflow-y: auto;
        height: 100vh;
      }

      .order-card {
        background: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 70px;
      }

      .table thead {
        background-color: #007bff;
        color: #fff;
      }

      .table tbody tr:nth-child(even) {
        background-color: #f2f2f2;
      }

      .table tbody tr:hover {
        background-color: #e9ecef;
      }

      .total-row {
        font-weight: bold;
      }
    </style>
  </head>
  <body class="poppins-regular">
    <div class="container">
      <div class="order-card">
        <div class="d-flex justify-content-between align-items-center mb-4">
          <div class="d-flex gap-3 align-items-center">
            <h1>Order Details #{{id}}</h1>
          </div>
          <div>
            <a
              type="button"
              class="btn btn-primary print-btn"
              href="/print_order/{{id}}"
              data-id="{{id}}"
            >
              <i class="bi bi-printer-fill"></i>
            </a>
          </div>
        </div>

        <p><span class="fw-bold">Date:</span> June 17, 2024</p>

        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Item</th>
              <th>Qty</th>
              <th>Price</th>
              <th>Total</th>
            </tr>
          </thead>
          {% for data in data_detail %}
          <tbody>
            <tr>
              <td>{{ data[0] }}</td>
              <td>{{ data[1] }}</td>
              <td>${{ data[2] }}</td>
              <td>${{ data[3] }}</td>
            </tr>
          </tbody>
          {% endfor %}
          <tfoot>
            <tr class="total-row">
              <td colspan="3" class="text-end">Grand Total</td>
              <td>${{ total_order }}</td>
            </tr>
          </tfoot>
        </table>
        {% if role == "admin@gmail.com" %}
        <a type="button" class="btn btn-secondary mb-2" href="/admin#orders"
          >Back</a
        >
        {% else %}
        <a type="button" class="btn btn-secondary mb-2" href="/user">Back</a>
        {% endif %}
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
      function updateStatus(newStatus) {
        document.getElementById("statusButton").innerText = newStatus;
      }
      function printToPDF(id) {
        fetch(`/print_order/${id}`)
          .then((response) => response.json())
          .then((data) => {
            const { jsPDF } = window.jspdf;
            var doc = new jsPDF();

            doc.setFontSize(20);
            doc.setFont("helvetica");
            doc.text(`Order #${id} Details`, 110, 30, { align: "center" });

            const headers = ["Item Name", "Quantity", "Price", "Total"];
            const colWidths = [50, 30, 30, 30];

            const tableData = data.detail_order.map((item) => [
              item.ItemName,
              item.Quantity,
              "$" + item.Price,
              "$" + item.total_item,
            ]);

            const tableOptions = {
              startY: 40,
              headStyles: {
                fillColor: [65, 105, 225],
                textColor: [255, 255, 255],
                halign: "center",
              },
              bodyStyles: {
                fillColor: [255, 255, 255],
                textColor: [0, 0, 0],
                halign: "center",
              },
              columnStyles: {
                ItemName: { cellWidth: colWidths[0] },
                Quantity: { cellWidth: colWidths[1] },
                Price: { cellWidth: colWidths[2] },
                Total: { cellWidth: colWidths[3] },
              },
              didDrawCell: function (data) {
                if (data.column.index === 0) {
                  data.cell.styles.halign = "left";
                }
              },
            };

            doc.autoTable(headers, tableData, tableOptions);

            tableData.push([
              {
                content: "Grand Total",
                colSpan: 3,
                styles: { halign: "center", fillColor: [230, 230, 230] },
              },
              "$" + data.total_order,
            ]);

            doc.autoTable(headers, tableData, tableOptions);

            var pdfOutput = doc.output("datauristring");

            var iframe = `<iframe width='100%' height='100%' src='${pdfOutput}' style='border:none;'></iframe>`;
            var x = window.open();

            x.document.open();
            x.document.write(iframe);
            x.document.close();
            // doc.save("DetailOrder.pdf");
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      }

      var printButtons = document.querySelectorAll(".print-btn");
      printButtons.forEach(function (button) {
        button.addEventListener("click", function (event) {
          event.preventDefault();
          var id = this.getAttribute("data-id");
          printToPDF(id);
        });
      });
    </script>
  </body>
</html>
